:root {
	--vp-nav-height-desktop: 72px;
	--vp-nav-height: var(--vp-nav-height-desktop);
	--vp-c-white: #fff;
	--vp-c-white-soft: #f9f9f9;
	--vp-c-white-mute: #f1f1f1;
	--vp-c-black: #1a1a1a;
	--vp-c-black-pure: #000;
	--vp-c-black-soft: #242424;
	--vp-c-black-mute: #2f2f2f;
	--vp-c-gray: #8e8e8e;
	--vp-c-gray-light-1: #aeaeae;
	--vp-c-gray-light-2: #c7c7c7;
	--vp-c-gray-light-3: #d1d1d1;
	--vp-c-gray-light-4: #e5e5e5;
	--vp-c-gray-light-5: #f2f2f2;
	--vp-c-gray-dark-1: #636363;
	--vp-c-gray-dark-2: #484848;
	--vp-c-gray-dark-3: #3a3a3a;
	--vp-c-gray-dark-4: #282828;
	--vp-c-gray-dark-5: #202020;
	--vp-c-divider-light-1: rgba(60, 60, 60, 0.29);
	--vp-c-divider-light-2: rgba(60, 60, 60, 0.12);
	--vp-c-divider-dark-1: rgba(84, 84, 84, 0.65);
	--vp-c-divider-dark-2: rgba(84, 84, 84, 0.48);
	--vp-c-text-light-1: var(--vp-c-indigo);
	--vp-c-text-light-2: rgba(60, 60, 60, 0.7);
	--vp-c-text-light-3: rgba(60, 60, 60, 0.33);
	--vp-c-text-light-4: rgba(60, 60, 60, 0.18);
	--vp-c-text-dark-1: rgba(255, 255, 255, 0.87);
	--vp-c-text-dark-2: rgba(235, 235, 235, 0.6);
	--vp-c-text-dark-3: rgba(235, 235, 235, 0.38);
	--vp-c-text-dark-4: rgba(235, 235, 235, 0.18);
	--vp-c-indigo: #213547;
	--vp-c-indigo-soft: #476582;
	--vp-c-indigo-light: #aac8e4;
	--vp-c-indigo-lighter: #c9def1;
	--vp-c-indigo-dark: #1d2f3f;
	--vp-c-indigo-darker: #14212e;
	--vp-c-green: #42b883;
	--vp-c-green-light: #42d392;
	--vp-c-green-lighter: #35eb9a;
	--vp-c-green-dark: #33a06f;
	--vp-c-green-darker: #155f3e;
	--vp-c-green-dimm-1: rgba(66, 184, 131, 0.5);
	--vp-c-green-dimm-2: rgba(66, 184, 131, 0.25);
	--vp-c-green-dimm-3: rgba(66, 184, 131, 0.05);
	--vp-c-yellow: #ffc517;
	--vp-c-yellow-light: #fcd253;
	--vp-c-yellow-lighter: #fcfc7c;
	--vp-c-yellow-dark: #e0ad15;
	--vp-c-yellow-darker: #ad850e;
	--vp-c-yellow-dimm-1: rgba(255, 197, 23, 0.5);
	--vp-c-yellow-dimm-2: rgba(255, 197, 23, 0.25);
	--vp-c-yellow-dimm-3: rgba(255, 197, 23, 0.05);
	--vp-c-red: #ed3c50;
	--vp-c-red-light: #f54e82;
	--vp-c-red-lighter: #fd1d7c;
	--vp-c-red-dark: #cd2d3f;
	--vp-c-red-darker: #ab2131;
	--vp-c-red-dimm-1: rgba(237, 60, 80, 0.5);
	--vp-c-red-dimm-2: rgba(237, 60, 80, 0.25);
	--vp-c-red-dimm-3: rgba(237, 60, 80, 0.05);
	--vp-c-bg: var(--vp-c-white);
	--vp-c-bg-soft: var(--vp-c-white-soft);
	--vp-c-bg-mute: var(--vp-c-white-mute);
	--vp-c-bg-alt: var(--vp-c-white-soft);
	--vp-c-divider: var(--vp-c-divider-light-1);
	--vp-c-divider-light: var(--vp-c-divider-light-2);
	--vp-c-divider-inverse: var(--vp-c-divider-dark-1);
	--vp-c-divider-inverse-light: var(--vp-c-divider-dark-2);
	--vp-c-text-1: var(--vp-c-text-light-1);
	--vp-c-text-2: var(--vp-c-text-light-2);
	--vp-c-text-3: var(--vp-c-text-light-3);
	--vp-c-text-4: var(--vp-c-text-light-4);
	--vp-c-text-inverse-1: var(--vp-c-text-dark-1);
	--vp-c-text-inverse-2: var(--vp-c-text-dark-2);
	--vp-c-text-inverse-3: var(--vp-c-text-dark-3);
	--vp-c-text-inverse-4: var(--vp-c-text-dark-4);
	--vp-c-text-code: var(--vp-c-indigo-soft);
	--vp-c-brand: var(--vp-c-green);
	--vp-c-brand-light: var(--vp-c-green-light);
	--vp-c-brand-lighter: var(--vp-c-green-lighter);
	--vp-c-brand-dark: var(--vp-c-green-dark);
	--vp-c-brand-darker: var(--vp-c-green-darker);
	--vp-c-sponsor: #fd1d7c;
}
.VPNav {
	//position:fixed;
	//top:var(--vp-layout-top-height, 0px);
	//left:0;
	z-index: var(--vp-z-index-nav);
	width: 100%;
}
.VPNavBar {
	position: relative;
	border-bottom: 1px solid var(--vp-c-divider-light);
	padding: 0 8px 0 24px;
	height: var(--vp-nav-height-mobile);
	transition: border-color 0.5s, background-color 0.5s;
	.logo {
		margin-right: 8px;
		height: 24px;
	}
	.container {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: calc(var(--vp-layout-max-width) - 64px);
	}
	.VPNavBarTitle {
	}
	.title {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: 600;
		height: var(--vp-nav-height);
		color: var(--vp-c-text-1);
	}
	.content {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-grow: 1;
	}
	.VPNavBarMenu {
		display: flex;
	}
	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		white-space: nowrap;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		overflow: hidden;
	}
	.VPNavBarMenuLink {
		display: flex;
		align-items: center;
		padding: 0 12px;
		line-height: var(--vp-nav-height-desktop);
		font-size: 14px;
		font-weight: 500;
		color: var(--vp-c-text-1);
		transition: color 0.25s;
		white-space: nowrap;
	}
	.VPNavBarAppearance {
		display: flex;
		align-items: center;
	}
	.VPNavBarMenuLink.router-link-active,
	.VPNavBarMenuLink:hover {
		color: var(--vp-c-brand);
	}
}
